<script>
//**********************************
//**Initialize Workout Chart********
//**********************************
$(document).ready(function() {
	var height = parseInt("<%= @athlete.height %>");
	var inches = height % 12;
	var feet = Math.floor(height/12);
	$('.heightweight').html(feet+"'"+inches+'" '+' <%= @athlete.weight %> lbs');
	
	
	<% @notes.each do |note| %>
		var date = "<%= note.created_at.localtime %>";
		var today = new Date(date.split(' ')[0]);
		today = String(today).split(" ");
		today = today[0]+" "+today[1]+" "+today[2]
		addNote("<%= note.color %>","<%= note.text %>",today);
	<% end %>

	<% @injuries.each do |injury| %>
		var date = "<%= injury.date %>";
		var today = new Date(date.split(' ')[0]);
		today = String(today).split(" ");
		today = today[0]+" "+today[1]+" "+today[2]+" "+today[3]
		addInjury(today,"<%= injury.name %>","<%= injury.overview %>");
	<% end %>
	
	
	<% @bodyparts.each do |bodypart| %>
		<% bodypart.texercises.each do |texercise| %>
		eo = new exerciseobj("<%= texercise.id %>","<%= texercise.name %>","<%= texercise.difficulty %>",["<%= texercise.bodypart.name %>"],3,10,3,10,3,10,3,10,3,10);
		exercises.push(eo);
		<% end %>
	<% end %>
	
	workout = [];
	<% @athlete.workout.exercises.each do |exercise| %>
		var eo = new exerciseobj("<%= exercise.id %>","<%= exercise.name %>","<%= exercise.difficulty %>",["<%= exercise.bodypart %>"],"<%= exercise.week1sets %>","<%= exercise.week2sets %>","<%= exercise.week3sets %>","<%= exercise.week4sets %>","<%= exercise.week5sets %>","<%= exercise.week1reps %>","<%= exercise.week2reps %>","<%= exercise.week3reps %>","<%= exercise.week4reps %>","<%= exercise.week5reps %>");
		workout.push(eo);
	<% end %>
	for (var a=0; a < exercises.length; a++) {
		for (var b=0; b < workout.length; b++) {
			if (exercises[a].name === workout[b].name) {
				exercises[a] = workout[b];
				exercises[a].included = true;
				$('.drophere').css('display','none');
			}
		}
	}
	drawChart();
});

//**********************************
//*******Exercise Object ***********
//**********************************
function exerciseobj(id,name,difficulty,bodyareas,week1sets,week2sets,week3sets,week4sets,week5sets,week1reps,week2reps,week3reps,week4reps,week5reps) {
	this.id = id;
	this.name = name;
	this.difficulty = difficulty;
	this.bodyarea = bodyareas;
	this.included = false;
	this.week1sets = week1sets;
	this.week2sets = week2sets;
	this.week3sets = week3sets;
	this.week4sets = week4sets;
	this.week5sets = week5sets;
	this.week1reps = week1reps;
	this.week2reps = week2reps;
	this.week3reps = week3reps;
	this.week4reps = week4reps;
	this.week5reps = week5reps;
	
	this.getweeksets = function(num) {
		if (num === 1) { return this.week1sets};
		if (num === 2) { return this.week2sets};
		if (num === 3) { return this.week3sets};
		if (num === 4) { return this.week4sets};
		if (num === 5) { return this.week5sets};
	}
	this.getweekreps = function(num) {
		if (num === 1) { return this.week1reps};
		if (num === 2) { return this.week2reps};
		if (num === 3) { return this.week3reps};
		if (num === 4) { return this.week4reps};
		if (num === 5) { return this.week5reps};
	}
	
	
}

//**********************************
//**Generate Exercises**************
//**********************************

var type;
var exercises = [];

//**********************************
//**Add All Exercises to List*******
//**********************************
$(document).ready(function() {	
	for (var a=0;a < exercises.length; a++) {
		b = exercises[a];
		var container = $('.exercise-container');
		var divcontent = $('<div class="exercise exercisedrag"><h5>'+b.name+'</h5><p> Difficulty: <span>'+b.difficulty+'</span></p>');
		container.append(divcontent);
	};
});

var drawExercises = function(area) {
	$('.exercise-container').empty();
	for (var a=0;a < exercises.length; a++) {
		b = exercises[a];
		for (var c=0;c < b.bodyarea.length; c++) {
			if (b.bodyarea[c] === area && b.included === false) {
				var container = $('.exercise-container');
				var divcontent = $('<div class="exercise exercisedrag"><h5>'+b.name+'</h5><p> Difficulty: <span>'+b.difficulty+'</span></p>');
				container.append(divcontent);
			}
		}
	};
	chartfunctionality();
}

var drawChart = function() {
	for (var a=0; a < exercises.length; a++) {
		if (exercises[a].included == true) {
			b = exercises[a];
			var header = b.name;
			var title = $("<div class='exercise-title'>"+header+"</div>");
			var row = $("<div class='chart-row'></div>");
			var deletediv = $("<div class='delete'></div>");
			row.append(title);
			console.log(b);
			for (var c=0; c < 5; c++){
				var columns = $("<div class='exercise1 setsrep'>"+b.getweeksets(c+1)+" x "+b.getweekreps(c+1)+"</div>");
				row.append(columns);
			};
			row.append(deletediv);
			$('.chart-body').prepend(row);
		};
	};
	chartfunctionality();
}
//**********************************
//****Sidebar Functionality*********
//**********************************

$(document).ready(function() {
	$('.choose-exercise').click(function() {
		switchviews();
	});
	chartfunctionality();
	
	$('.newexercise').click(function() {
		$('.drophere').html("<h1> Drag and Drop Exercsises Here</h1>");
		var area = $(this).children().html();
		type = area;
		var sidebar_exercises = [];
		$('.exercise-container').empty();
		drawExercises(type);
		switchviews();
		chartfunctionality();
	});
});

var switchviews = function() {
	if ($('.selectnewexercise').is(':visible')) {
		$('.selectnewexercise').slideToggle('slow',function() {
			$('.exercise-container').slideToggle('slow');
		});
	} else {
		$('.exercise-container').slideToggle('slow',function() {
			$('.selectnewexercise').slideToggle('slow');
		});
	}
}

//**********************************
//**When exercise dropped into chart***
//**********************************
var addExercise = function(handle) {
	var header = $(handle).children('h5').html();
	var title = $("<div class='exercise-title'>"+header+"</div>");
	var row = $("<div class='chart-row'></div>");
	var deletediv = $("<div class='delete'></div>");
	row.append(title);
	for (var a=0; a < 5; a++){
		var columns = $("<div class='exercise1 setsrep'>3 x 15</div>");
		row.append(columns);
	}
	row.append(deletediv);
	$('.chart-body').prepend(row);
	chartfunctionality();
}


//**********************************
//***Chart Functionality************
//**********************************
var currentsetsreps;
var chartfunctionality = function() {
	//Implement draggable
	$(".exercisedrag").draggable({
		revert: "invalid",
		drag: function() {
			$('.drophere').css('display','block');
		},
		stop: function() {
			$('.drophere').css('display','none');
		},
	});
	
	//Implement droppable
	 $(".droppable").droppable({
		drop: function( event, ui ) {
			addExercise(ui.draggable);
			var name = $(ui.draggable).children('h5').html();
			for (var a=0;a < exercises.length; a++) {
				if (exercises[a].name === name) {
					exercises[a].included = true;
					createExercise(exercises[a].name,'3','3','3','3','3','15','15','15','15','15',exercises[a]);
				}
			}
			$(ui.draggable).remove();
			$('.drophere').css('display','none');
		}
	});
	
	

	
}
$(document).ready(function() {
$('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
});
});




//**********************************
//***********Notes******************
//**********************************
var color='green'

$(document).ready(function() {
	
	$('.notecolor button').click(function() {
		var handle = $(this);
		$('.notecolor button').removeClass('disabled');
		$('.notecolor button').addClass('disabled');
		handle.removeClass('disabled');
		color = handle.html();
	});
	
	$('.addnotebutton').click(function() {
		var today = new Date();
		today = String(today)
		today = today.split(" ");
		today = today[0]+" "+today[1]+" "+today[2]
		addNote(color,"Athlete's Note: "+$('#notetextarea').val(),today);
		createNote(color,"Athlete's Note: "+$('#notetextarea').val());
		
	});
});

var addNote = function(color,message,date) {
	var alerttext = color;
	if (color === 'Green') { alerttext = 'success'};
	if (color === 'Yellow') { alerttext = 'warning'};
	if (color === 'Red') { alerttext = 'danger'};
	if (color === 'Blue') { alerttext = 'info'};
	var noteh = $("<div class='alert alert-"+alerttext+"'></div>");
	noteh.append('<h5>'+date+'</h5>');
	noteh.append('<p>'+message+'</p>');
	$('.notes').prepend(noteh);
}

var addInjury = function(date,injury,status) {
	var injury1 = $("<tr>");
	injury1.append($("<td class='tabledate'>"+date+"</td>"));
	injury1.append($("<td class='tableinjury'>"+injury+"</td>"));
	injury1.append($("<td class='tablestatus'>"+status+"</td>"));
	$('.injurytable').prepend(injury1);

}

//**********************************
//***Front to Back End Calls *******
//**********************************
//Changing an exercise

var createNote = function(color,message,date) {
	$.post("/notes/create.json", {'note':{'color':color,'text':message}})
	.done(function(data) {
	});
};




</script>

	<div class="header">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="navbar-contain">
					<a class="brand"><img class='logo' src="/images/logo.png"/></a>
					<ul class="nav pull-right">
						 
						<li><a href="../../">Sign Out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main-container">
		<div class="profile well">
			<div class="img-container"><%= image_tag @athlete.pic.url(:medium) %></div>
			<div class="profileinfo">
				<h2><%= @athlete.firstname %> <%= @athlete.lastname %> </h2>
				<h3> <%= @athlete.sport %> </h3>
				<h4 class='heightweight'></h4>
				<h4><%= @athlete.hometown %></h4>
				<h5> Latest Injury:</h5>
				<h6 class='latestinjury'><%= @current_injury.name %></h6>
			</div>
			<div class="profilebox well">
				<h3> Injury Overview</h3>
				<p><%= @current_injury.overview %></p>
			</div>
			<div class='clear'></div>
		</div>
		
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#chart">Current Program</a></li>
			<li><a href="#history">Injury History</a></li>
			<li><a href="#progress">Athlete Notes</a></li>
		</ul>
 
		<div id="tab-content" class="tab-content">
			<div class="tab-pane active" id="chart">
				<div class="bottom-container">
					
					<div style="margin-left: 140px" class="chart well droppable">
		<div class="chart-header gradientbg">
			<div class='title'> Exercise </div>
			<div class='day'>
				<p>Week 1</p>
				<p>May 5th</p>
			</div>
			<div class='day'>
				<p>Week 2</p>
				<p>May 12th</p>
			</div>
			<div class='day'>
				<p>Week 3</p>
				<p>May 19th</p>
			</div>
			<div class='day'>
				<p>Week 4</p>
				<p>May 26th</p>
			</div>
			<div class='day'>
				<p>Week 5</p>
				<p>June 2nd</p>
			</div>
		</div>
		<div class="drophere">
			<h1> Select an injury area from the sidebar</h1>
		</div>
		<div class='chart-body'>
		
		</div>
	</div>
					<div class='clear'></div>
				</div>
			</div>
			<div class="tab-pane" id="history">
				<table class="table table-striped historytable">
					<thead>
						<tr>
							<th>Date</th>
							<th>Injury</th>
							<th>Overview</th>
						</tr>
					</thead>
					<tbody class='injurytable'>
						
					</tbody>
				</table>
			
			
			
			</div>
			<div class="tab-pane" id="progress">
				<div class="addnote">
					<textarea id="notetextarea" placeholder="Add a note or comment about the athlete"></textarea>
					<button value='submit' name='submit' class='btn btn-custom-blue addnotebutton'>Add Note</button>
					<div class="btn-group notecolor">
						<button class="btn btn-danger">Red</button>
						<button class="btn btn-warning disabled">Yellow</button>
						<button class="btn btn-success disabled">Green</button>
						<button class="btn btn-info disabled">Blue</button>
					</div>
					<div class='clear'></div>				
				</div>
				
				<div class='notes'>
					
				</dib>
			</div>
		</div>
		
		
		
		
	</div>

	<div class="footer">
		<p>Easy Trainer created by Mitchell Kates, Derek Vaughn, James Arana, and Asa Oines for UI Design and Implementation Spring 2013</p>
	</div>
