<script>
//**********************************
//**Initialize Workout Chart********
//**********************************

$(document).ready(function() {
	workout = [];
	<% @athlete.workout.exercises.each do |exercise| %>
		console.log("<%= exercise.id %>");
		var eo = new exerciseobj("<%= exercise.id %>","<%= exercise.name %>","<%= exercise.difficulty %>",["<%= exercise.bodypart %>"],"<%= exercise.week1sets %>","<%= exercise.week2sets %>","<%= exercise.week3sets %>","<%= exercise.week4sets %>","<%= exercise.week5sets %>","<%= exercise.week1reps %>","<%= exercise.week2reps %>","<%= exercise.week3reps %>","<%= exercise.week4reps %>","<%= exercise.week5reps %>");
		workout.push(eo);
		console.log(eo.week1sets)
	<% end %>
	for (var a=0;a < exercises.length; a++) {
		for (var b=0;b < workout.length; b++) {
			if (exercises[a].name === workout[b].name) {
				exercises[a] = workout[b];
				exercises[a].included = true;
				$('.drophere').css('display','none');
			}
		}
	}
	drawChart();
});

//**********************************
//*******Exercise Object ***********
//**********************************
function exerciseobj(id,name,difficulty,bodyareas,week1sets,week2sets,week3sets,week4sets,week5sets,week1reps,week2reps,week3reps,week4reps,week5reps) {
	this.id;
	this.name = name;
	this.difficulty = difficulty;
	this.bodyarea = bodyareas;
	this.included = false;
	this.week1sets = week1sets;
	this.week2sets = week2sets;
	this.week3sets = week3sets;
	this.week4sets = week4sets;
	this.week5sets = week5sets;
	this.week1reps = week1reps;
	this.week2reps = week2reps;
	this.week3reps = week3reps;
	this.week4reps = week4reps;
	this.week5reps = week5reps;
	
	this.getweeksets = function(num) {
		if (num === 1) { return this.week1sets};
		if (num === 2) { return this.week2sets};
		if (num === 3) { return this.week3sets};
		if (num === 4) { return this.week4sets};
		if (num === 5) { return this.week5sets};
	}
	this.getweekreps = function(num) {
		if (num === 1) { return this.week1reps};
		if (num === 2) { return this.week2reps};
		if (num === 3) { return this.week3reps};
		if (num === 4) { return this.week4reps};
		if (num === 5) { return this.week5reps};
	}
	
	
}

//**********************************
//**Generate Exercises**************
//**********************************

var type;
var exercises = [];
exercises.push(new exerciseobj('60','One-Legged Squats','Easy',['Knee','Quad'],1,10,2,11,3,12,4,13,5,14));
exercises.push(new exerciseobj('61','Calf Raises','Easy',['Calf'],1,10,2,11,3,12,4,13,5,14));
exercises.push(new exerciseobj('62','Lunges','Easy',['Knee','Quad','Hamstring'],1,10,2,11,3,12,4,13,5,14));
exercises.push(new exerciseobj('63','Side Squats','Easy',['Knee','Quad'],1,10,2,11,3,12,4,13,5,14));
// exercises.push(new exerciseobj('Clean and Jerk','Easy',['Quad','Shoulder']));
// exercises.push(new exerciseobj('Ankle Rolls','Easy',['Ankle','Foot']));
// exercises.push(new exerciseobj('Quadricep Stretch','Easy',['Knee','Quad']));
// exercises.push(new exerciseobj('Wall slide','Easy',['Knee', 'Quad']));
// exercises.push(new exerciseobj('Hamstring Curls','Easy',['Knee','Hamstring']));
// exercises.push(new exerciseobj('Box Squat','Easy',['Quad']));
// exercises.push(new exerciseobj('Jump Squat','Easy',['Quad’, ‘Ankle']));
// exercises.push(new exerciseobj('Pendulum','Easy',['Shoulder']));
// exercises.push(new exerciseobj('Crossover Arm Stretch','Easy',['Shoulder']));
// exercises.push(new exerciseobj('Passive Internal Rotation','Easy',['Shoulder']));
// exercises.push(new exerciseobj('Passive External Rotation','Easy',['Shoulder']));
// exercises.push(new exerciseobj('Sleeper Stretch','Easy',['Shoulder']));
// exercises.push(new exerciseobj('Standing Row','Easy',['Shoulder']));
// exercises.push(new exerciseobj('Dorsiflexion','Easy',['Ankle']));
// exercises.push(new exerciseobj('Plantar Flexion','Easy',['Ankle']));
// exercises.push(new exerciseobj('Scissor hops','Easy',['Ankle']));
// exercises.push(new exerciseobj('One leg mini squats','Easy',['Ankle']));
// exercises.push(new exerciseobj('Heel toe balance','Easy',['Ankle']));
// exercises.push(new exerciseobj('Donkey Calf Raise','Easy',['Calf']));
// exercises.push(new exerciseobj('Seated Calf Extension','Easy',['Calf']));
// exercises.push(new exerciseobj('45 degree Calf Press','Easy',['Calf']));
// exercises.push(new exerciseobj('45 degree Calf Raises','Easy',['Calf']));
// exercises.push(new exerciseobj('Jump Rope','Easy',['Calf']));
// exercises.push(new exerciseobj('Single Leg Calf Raises','Easy',['Calf']));


//**********************************
//**Add All Exercises to List*******
//**********************************
$(document).ready(function() {	
	for (var a=0;a < exercises.length; a++) {
		b = exercises[a];
		var container = $('.exercise-container');
		var divcontent = $('<div class="exercise exercisedrag"><h5>'+b.name+'</h5><p> Difficulty: <span>'+b.difficulty+'</span></p>');
		container.append(divcontent);
	};
});

var drawExercises = function(area) {
	$('.exercise-container').empty();
	for (var a=0;a < exercises.length; a++) {
		b = exercises[a];
		for (var c=0;c < b.bodyarea.length; c++) {
			if (b.bodyarea[c] === area && b.included === false) {
				var container = $('.exercise-container');
				var divcontent = $('<div class="exercise exercisedrag"><h5>'+b.name+'</h5><p> Difficulty: <span>'+b.difficulty+'</span></p>');
				container.append(divcontent);
			}
		}
	};
	chartfunctionality();
}

var drawChart = function() {
	for (var a=0; a < exercises.length; a++) {
		if (exercises[a].included == true) {
			b = exercises[a];
			var header = b.name;
			var title = $("<div class='exercise-title'>"+header+"</div>");
			var row = $("<div class='chart-row'></div>");
			var deletediv = $("<div class='delete'>x</div>");
			row.append(title);
			console.log(b);
			for (var c=0; c < 5; c++){
				var columns = $("<div class='exercise1 setsrep'>"+b.getweeksets(c+1)+" x "+b.getweekreps(c+1)+"</div>");
				row.append(columns);
			};
			row.append(deletediv);
			$('.chart-body').prepend(row);
		};
	};
	chartfunctionality();
}
//**********************************
//****Sidebar Functionality*********
//**********************************

$(document).ready(function() {
	$('.choose-exercise').click(function() {
		switchviews();
	});
	chartfunctionality();
	
	$('.newexercise').click(function() {
		$('.drophere').html("<h1> Drag and Drop Exercsises Here</h1>");
		var area = $(this).children().html();
		type = area;
		var sidebar_exercises = [];
		$('.exercise-container').empty();
		drawExercises(type);
		switchviews();
		chartfunctionality();
	});
});

var switchviews = function() {
	if ($('.selectnewexercise').is(':visible')) {
		$('.selectnewexercise').slideToggle('slow',function() {
			$('.exercise-container').slideToggle('slow');
		});
	} else {
		$('.exercise-container').slideToggle('slow',function() {
			$('.selectnewexercise').slideToggle('slow');
		});
	}
}

//**********************************
//**When exercise dropped into chart***
//**********************************
var addExercise = function(handle) {
	var header = $(handle).children('h5').html();
	var title = $("<div class='exercise-title'>"+header+"</div>");
	var row = $("<div class='chart-row'></div>");
	var deletediv = $("<div class='delete'>x</div>");
	row.append(title);
	for (var a=0; a < 5; a++){
		var columns = $("<div class='exercise1 setsrep'>3 x 15</div>");
		row.append(columns);
	}
	row.append(deletediv);
	$('.chart-body').prepend(row);
	chartfunctionality();
}


//**********************************
//***Chart Functionality************
//**********************************
var currentsetsreps;
var chartfunctionality = function() {
	//Implement draggable
	$(".exercisedrag").draggable({
		revert: "invalid",
		drag: function() {
			$('.drophere').css('display','block');
		},
		stop: function() {
			$('.drophere').css('display','none');
		},
	});
	
	//Implement droppable
	 $(".droppable").droppable({
		drop: function( event, ui ) {
			addExercise(ui.draggable);
			var name = $(ui.draggable).children('h5').html();
			for (var a=0;a < exercises.length; a++) {
				if (exercises[a].name === name) {
					exercises[a].included = true;
					createExercise(exercises[a].name,'3','3','3','3','3','15','15','15','15','15');
				}
			}
			$(ui.draggable).remove();
			$('.drophere').css('display','none');
		}
	});
	
	//Delete functionality
	$('.delete').unbind('click');
	$('.delete').click(function() {
		$(this).parent().slideToggle();
		var name = $($(this).parent().children()[0]).html();
		for (var a=0;a < exercises.length; a++) {
			if (exercises[a].name === name) {
				exercises[a].included = false;
				deleteExercise(parseInt(exercises[a].id));
			}
		}
		drawExercises(type);
		
	});
	$('.setsrep').unbind('click');
	$('.setsrep').click(function() {
		if ($(this).children().length > 0) {
		
		} else {
			currentsetsreps = $(this);
			var stringval = $(this).html();
			stringval = stringval.split(' x ');
			$(this).addClass('editing');
			$(this).empty();
			var input1 = $('<input type="text" class="sets change">');
			var input2 = $('<input type="text" class="reps change" >');
			input1.val(stringval[0]);
			input2.val(stringval[1]);
			$(this).append(input1);
			$(this).append(' x ');
			$(this).append(input2);
		}
		$(this).parent().mouseleave(function() {
			var handler = $(this).children('.editing');
			var children = $(handler).children();
			console.log(children);
			$(handler).html($(children[0]).val()+' x '+$(children[1]).val());
			$(handler).removeClass('editing');
			var rowchart = $(this);
			$(handler).html($(children[0]).val()+' x '+$(children[1]).val());
			$(handler).removeClass('editing');
			exerciseTitle = $(handler.parent().children()[0]).html();
			for (var a=0; a< exercises.length; a++) {
				if (exercises[a].name === exerciseTitle) {
					var exerciseh = rowchart.children('.exercise1');
					var tspl = [0,0,0,0,0,0,0,0,0,0]
					for ( var b=0; b < exerciseh.length; b++)  {
							var tmp = $(exerciseh[b]).html().split(' x ');
							tspl[b] = tmp[0];
							tspl[5+b] = tmp[1];
					}	
					updateExercise(exercises[a].id,exercises[a].name,tspl[0],tspl[1],tspl[2],tspl[3],tspl[4],tspl[5],tspl[6],tspl[7],tspl[8],tspl[9]);
				}	
			}
		});
	}); 
	
}
$(document).ready(function() {
$('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
});
});

$(document).keypress(function(event) {
    if (event.which == 13 || event.keyCode == 13) {
		handle = currentsetsreps;
		var handler = $(handle).parent().children('.editing');
		var children = $(handler).children();
		var rowchart = handle.parent();
		if ($(children[0]).val().length === 0) { $(children[0]).val('3')};
		if ($(children[1]).val().length === 0) { $(children[1]).val('3')};
		$(handler).html($(children[0]).val()+' x '+$(children[1]).val());
		$(handler).removeClass('editing');
		exerciseTitle = $(handler.parent().children()[0]).html();
		for (var a=0; a< exercises.length; a++) {
			if (exercises[a].name === exerciseTitle) {
				var exerciseh = rowchart.children('.exercise1');
				var tspl = [0,0,0,0,0,0,0,0,0,0]
				for ( var b=0; b < exerciseh.length; b++)  {
						var tmp = $(exerciseh[b]).html().split(' x ');
						tspl[b] = tmp[0];
						tspl[5+b] = tmp[1];
				}	
				updateExercise(exercises[a].id,exercises[a].name,tspl[0],tspl[1],tspl[2],tspl[3],tspl[4],tspl[5],tspl[6],tspl[7],tspl[8],tspl[9]);
			}	
		}
    };
});


//**********************************
//***********Notes******************
//**********************************
var color='green'

$(document).ready(function() {
	
	$('.notecolor button').click(function() {
		var handle = $(this);
		$('.notecolor button').removeClass('disabled');
		$('.notecolor button').addClass('disabled');
		handle.removeClass('disabled');
		color = handle.html();
	});
	
	$('.addnotebutton').click(function() {
		var today = new Date();
		today = String(today)
		today = today.split(" ");
		//.split(" ");
		today = today[0]+" "+today[1]+" "+today[2]
		addNote(color,$('#notetextarea').val(),today);
	});
});

var addNote = function(color,message,date) {
	var alerttext = color;
	if (color === 'Green') { alerttext = 'success'};
	if (color === 'Yellow') { alerttext = 'warning'};
	if (color === 'Red') { alerttext = 'danger'};
	if (color === 'Blue') { alerttext = 'info'};
	var noteh = $("<div class='alert alert-"+alerttext+"'></div>");
	noteh.append('<h5>'+date+'</h5>');
	noteh.append('<p>'+message+'</p>');
	$('.notes').prepend(noteh);
}

//**********************************
//***Front to Back End Calls *******
//**********************************
//Changing an exercise
var deleteExercise = function(exerciseid) {
	$.post("/exercises/delete.json", {'exercise': {'id':exerciseid}} ).done(function(data) {
		console.log(data);
	});
};
var updateExercise = function(id,name,w1s,w2s,w3s,w4s,w5s,w1r,w2r,w3r,w4r,w5r) {
	$.post("/exercises/update.json", {'exercise': {'id':id,'name':name,'week1sets':w1s,'week2sets':w2s,'week3sets':w3s,
	'week4sets':w4s,'week5sets':w5s,'week1reps':w1r,'week2reps':w2r,'week3reps':w3r,'week4reps':w4r,'week5reps':w5r}})
	.done(function(data) {
		console.log(data);
	});
};

var createExercise = function(name,w1s,w2s,w3s,w4s,w5s,w1r,w2r,w3r,w4r,w5r) {
	$.post("/exercises/create.json", {'exercise': {'name':name,'week1sets':w1s,'week2sets':w2s,'week3sets':w3s,
	'week4sets':w4s,'week5sets':w5s,'week1reps':w1r,'week2reps':w2r,'week3reps':w3r,'week4reps':w4r,'week5reps':w5r}})
	.done(function(data) {
		//Will pass back the ID
	});
};




</script>

	<div class="header">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="navbar-contain">
					<a class="brand" href="../../trainers/home"><img class='logo' src="/images/logo.png"/></a>
					<ul class="nav pull-right">
						 <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Athletes
							<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href='chart.html'>Kobe Bryant</a></li>
								<li><a href='newplayer.html'>Add New Athlete</a></li>
							</ul>
						</li>
						<li><a href="../../">Sign Out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main-container">
		<div class="profile well">
			<img class="profilepic" src="/images/kobe.jpg"/>
			<div class="profileinfo">
				<h2>Kobe Bryant</h2>
				<h3> Men's Basketball</h3>
				<h4> 6'7" 230lbs</h4>
				<h4> Lower Merion, PA </h4>
				<h5> Latest Injury:</h5>
				<h6>Torn Achilles Tendon</h6>
			</div>
			<div class="profilebox well">
				<h3> Injury Overview</h3>
				<p> During the Golden State warriors game on 4/12, Kobe sustained a 'pop' sound after cutting
				to the basket. Bryant asked Barnes if he had kicked him in the leg. When Barnes said he hadn't, 
				Bryant said he knew that a major injury had occurred.MRI revealed a torns achilles tendon</p>
				 
			</div>
			<div class='clear'></div>
		</div>
		
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#chart">Current Program</a></li>
			<li><a href="#history">Injury History</a></li>
			<li><a href="#progress">Athlete Notes</a></li>
		</ul>
 
		<div id="tab-content" class="tab-content">
			<div class="tab-pane active" id="chart">
				<div class="bottom-container">
					<div class="exercise-select well span3">
						<div class="choose-exercise gradientbg">
			<h6> Select Different Body Area<i class="icon-search icon-white"></i></h6>
		</div>
						<div class="selectnewexercise">
			<div class="newexercise">
				<h5>Knee</h5>
			</div>
			<div class="newexercise">
				<h5>Quad</h5>
			</div>
			<div class="newexercise">
				<h5>Ankle</h5>
			</div>
			<div class="newexercise">
				<h5>Shoulder</h5>
			</div>
			<div class="newexercise">
				<h5>Calf</h5>
			</div>
		</div>
						<div class="exercise-container"></div>
					</div>
					<div class="chart well droppable">
		<div class="chart-header gradientbg">
			<div class='title'> Exercise </div>
			<div class='day'>
				<p>Week 1</p>
				<p>May 5th</p>
			</div>
			<div class='day'>
				<p>Week 2</p>
				<p>May 12th</p>
			</div>
			<div class='day'>
				<p>Week 3</p>
				<p>May 19th</p>
			</div>
			<div class='day'>
				<p>Week 4</p>
				<p>May 26th</p>
			</div>
			<div class='day'>
				<p>Week 5</p>
				<p>June 2nd</p>
			</div>
		</div>
		<div class="drophere">
			<h1> Select an injury area from the sidebar</h1>
		</div>
		<div class='chart-body'>
		
		</div>
	</div>
					<div class='clear'></div>
				</div>
			</div>
			<div class="tab-pane" id="history">
				<table class="table table-striped historytable">
					<thead>
						<tr>
							<th>Date</th>
							<th>Injury</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>April 12th, 2013</td>
							<td>Torn Achilles Tendon</td>
							<td>Beginning Rehab</td>
						</tr>
						<tr>
							<td>January 3rd, 2013</td>
							<td>Concussion</td>
							<td>Healed</td>
						</tr>
						<tr>
							<td>August 14th, 2012</td>
							<td>Sprained Right Wrist</td>
							<td>Healed</td>
						</tr>
						<tr>
							<td>June 19th, 2012</td>
							<td>Chin Laceration</td>
							<td>Healed</td>
						</tr>
						<tr>
							<td>September 8th, 2011</td>
							<td>High Ankle Sprain - Left</td>
							<td>Minor Aggravation</td>
						</tr>
					</tbody>
				</table>
			
			
			
			</div>
			<div class="tab-pane" id="progress">
				<div class="addnote">
					<textarea id="notetextarea" placeholder="Add a note or comment about the athlete"></textarea>
					<button value='submit' name='submit' class='btn btn-custom-blue addnotebutton'>Add Note</button>
					<div class="btn-group notecolor">
						<button class="btn btn-danger">Red</button>
						<button class="btn btn-warning disabled">Yellow</button>
						<button class="btn btn-success disabled">Green</button>
						<button class="btn btn-info disabled">Blue</button>
					</div>
					<div class='clear'></div>				
				</div>
				
				<div class='notes'>
					<div class="alert alert-success">
						<h5> April 14th, 2013</h5>
						<p> I woke up feeling a lot better. I was able to put pressure on my heel and limp around. I noticed
						some extra tightness in the morning</p>
					</div>
					<div class="alert alert-error">
						<h5> April 13th, 2013</h5>
						<p> Trying to stretch my achilles, I was almost in tears. I felt a shooting pain up and down my whole leg.</p>
					</div>
					<div class="alert alert-success">
						<h5> March 11th, 2013</h5>
						<p>My wrist feels completely healed. I lifte on it today and had 0 pain!</p>
					</div>
				</dib>
			</div>
		</div>
		
		
		
		
	</div>

	<div class="footer">
		<p>Easy Trainer created by Mitchell Kates, Derek Vaughn, James Arana, and Asa Oines for UI Design and Implementation Spring 2013</p>
	</div>
