
<style>
.newplayer {
	width: 600px;
	margin: 30px auto;
	background: white;
}
.return {
	float: right;
	margin-top: 26px;
}
.newplayer h2 {
	border-bottom:1px solid #ccc;
	margin-bottom: 30px;
}
.new_athlete {
	margin-left: 150px;
}

</style>

<script>
$(document).ready(function() {
});


</script>
<div class="header">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="navbar-contain">
				<a class="brand" href="/"><img class='logo' src="/images/logo.png"/></a>
				<ul class="nav pull-right">
					<li><a href="/trainers/logout">Sign Out</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main-container">
	<div class='newplayer well'>
		<a href='/trainers/home' class='return'>Return </a>
		<h2> Create a New Athlete </h2>
		<div class="clear"></div>

		<%= form_for @athlete, :class => "form-horizontal athletecustomform", :url => { :action=> "create" }, :html => { :method => "POST" }  do |f| %>

		
			<div class="control-group">
				<label class="control-label" for="inputFirstname">First Name</label>
				<div class="controls">
					<%= f.text_field :firstname, :placeholder => "Joe" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastname">Last Name</label>
				<div class="controls">
					<%= f.text_field :lastname, :placeholder => "Smith" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLastname">Email</label>
				<div class="controls">
					<%= f.text_field :email, :placeholder => "joesmith@mit.edu" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputSport">Sport</label>
				<div class="controls">
					<%= f.text_field :sport, :placeholder => "Basketball" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputHeight">Height</label>
				<div class="controls">
					<%= f.text_field :height, :placeholder => "Inches" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputWeight">Weight</label>
				<div class="controls">
					<%= f.text_field :weight, :placeholder => "Pounds" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputHometown">Hometown</label>
				<div class="controls">
					<%= f.text_field :hometown, :placeholder => "Anytown, MA" %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPicture">Picture</label>
				<div class="controls">
					<%= f.file_field :pic %>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "Add Athlete", :class => "btn btn-custom-blue" %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>

<div class="footer">
	<p>Easy Trainer created by Mitchell Kates, Derek Vaughn, James Arana, and Asa Oines for UI Design and Implementation Spring 2013</p>
</div>
