<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
<script>
/* Get Athlete Cards */
$(document).ready(function() {
	var athletes = []
	<% @athletes.each do |athlete| %>
		var fn = "<%= athlete.firstname %>";
		var ln = "<%= athlete.lastname %>";
		var sport = "<%= athlete.sport %>";
		var status = "<%= athlete.status %>";
		var href = "/athlete/home/?id=<%= athlete.id %>";
		newathlete = [fn,ln,sport,status,href];
		athletes.push(newathlete);
	<% end %>
	console.log(athletes);
	var table = $('.athletetable');
	var trhandle;
	for (var a=0; a < athletes.length; a++) {
		console.log(a);
		var newtr = $("<tr>");
		var newtd = $("<td>");
		var content = $("<a href='"+athletes[a][4]+"'>");
		var divcontain = $('<div class="athlete-card floatleft" id="athlete-card1">');
		divcontain.append($('<img class="athlete-card-picture" src="/images/kobe.jpg" align="left"/>'));
		divcontain.append($('<h3 class="athlete-card-name">'+athletes[a][0]+' '+athletes[a][1]+'</h3>'));
		divcontain.append($('<h4 class="athlete-card-sport">'+athletes[a][2]+'<h4>'));
		divcontain.append($('<h5 class="athlete-card-injury"><span>'+athletes[a][3]+'</span></h5>'));
		content.append(divcontain);
		newtd.append(content);
		console.log(newtd);
		newtr.append(newtd);
		table.append(newtr);
		if (a%2 == 0) {
			var newtr = $("<tr>");
			newtr.append(newtd);
			table.append(newtr);
			trhandle = newtr;
		} else {
			trhandle.append(newtd);
		}
	
	
	}
});
//The HREF would be /athlete/home?id=athlete.id

</script>
<div class="main-container">
	<img class="search-logo" src="/images/logo.png" align="center"/>
	<div class="search-box-wrap">
		<input class="search-box" type="search" placeholder="Search for an Athlete, or browse below" list="athletes" autocomplete="off" onsearch="javascript:location.href='index.html';" />
		<datalist id="athletes">
			<option value="Kobe Bryant">Kobe</option>
			<option value="John Wenzel">John</option>
			<option value="Michael Jordan">Michael</option>
			<option value="Carmelo Anthony">Carmelo</option>
		</datalist>
		<div class='actionbuttons'>
			<a href='newplayer.html' class='btn btn-custom-blue'>or Create a New Athlete</a>
		</div>
	</div>
	
		
	<div class="row">
		<table class='athletetable'>
	</table>
	</div>
	
</div>
