


	<div class="main-container">
		<img class="search-logo" src="/images/logo.png" align="center"/>
		<div class="actionbuttons">
			<button id="athlete" class="btn btn-large btn-custom-blue">Student Athlete</button>
			<button id="trainer" class="btn btn-large btn-custom-blue">Athletic Trainer</button>
		</div>
		<div class="athleteform loginform">
			<%= form_for @athlete, :url => { :controller => "athletes", :action=> "login" }, :html => { :method => "POST" } do |f| %>
				<%= f.text_field :email, :placeholder => "Email" %>
				<%= f.submit "Login", :class => "btn athleteloginbutton" %>
			<% end %>
		</div>
		<div class="trainerform loginform">
			<%= form_for @trainer, :url => { :controller => "trainers", :action=> "login" }, :html => { :method => "POST" } do |f| %>
				<%= f.text_field :email, :placeholder => "Email" %>
				<%= f.password_field :password, :placeholder => "Password" %>
				<%= f.submit "Login", :class => "btn loginbutton" %>
			<% end %>
		</div>
		
		
	</div>
<script>
$(document).ready(function() {
	$('#athlete').click(function() {
		$('.trainerform').fadeOut('fast',function(){
			$('.athleteform').fadeIn();
			if (!$('#athlete').hasClass('glow')) {
				$('#athlete').addClass('glow');
			}
			$('#trainer').removeClass('glow')
		});
	});
	$('#trainer').click(function() {
		$('.athleteform').fadeOut('fast',function() {
			$('.trainerform').fadeIn();
		});
		if (!$('#trainer').hasClass('glow')) {
				$('#trainer').addClass('glow');
			}
			$('#athlete').removeClass('glow')
	});

});
</script>

